<div class="container">
  <h5><%= "#{@list.title}" %></h5>
  <em class="ita-msg"><%= "(créé le #{@list.created_at}) :" %></em>
  <p><%= "#{@listelement.content}" %></p>

  <%= render "shared/form_listselements" %>
</div>
