
 <div>
 <%= render "form", localisation: @localisation %>
 <% i = 0 %>
 <% @localisations.each do |localisation| %>
  <div class="notification-content">
    <p><small>
    <%= Time.now.strftime("%d/%m/%Y à %H:%M") %>
    </small></p>
    <p><%= localisation.address %></p>
      <div style="width: 30%; height: 150px;"
      data-controller="map"
      data-map-markers-value="<%= [@markers[i]].to_json %>"
      data-map-api-key-value="pk.eyJ1IjoiZWdsZXIiLCJhIjoiY2xiMmRnM2Z1MDNzMzNwcXRzcGZpNjA1MyJ9.OgPtKkpm5SBI_o_rk1tAiw">
      </div>

    <div class="notification-actions">
      <a href="#">Edit <i class="fas fa-pencil-alt"></i></a>
      <a href="#">Delete <i class="far fa-trash-alt"></i></a>
    </div>
  </div>
  <% i += 1 %>
  <% end %>
 </div>
