// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #8e8e8e;
$light-gray: #F4F4F4;
$white: white;
$black: black;
$fushia: #ff0066;
$vert: #008f8c;
$vertclare: #93d4d3;
$verttitle: rgb(39, 235, 157);
