.listpage {
  z-index: 1;
  position: relative;
  .list_record {
    position: relative;
    top: -100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
  .messages {
    margin: auto;
    color: $verttitle;
    font-weight: 50;
    font-size: 24px;
    text-align: center;
  }
  .ita-msg {
    color: $gray;
    font-family: roboto light;
    font-size: 0.9em;
  }
  .form-list {
    display: flex;
    position: relative;
    justify-content: center;
    top: -28px;
  }
  .obj-postit {
    z-index: 5;
    position: absolute;
    padding: 12px;
    background-color: #fffba3;
    gap: 4px;
    display: flex;
    flex-direction: column;
    height: 218px;
    width: 190px;
    transform: rotate(6deg);
    box-shadow: #00000012 8px 4px 10px 0px;
  }
  .obj-flex {
    // opacity: 0.85;
    // background-blend-mode: multiply;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    h5 {
      font-family: roboto;
      font-size: 1.4em;
    }
    ul {
      padding-left: 12px;
    }
    li {
      font-size: 1.1em;
    }
    a {
      text-decoration: none;
    }
  }
  .scroller {
    width: 500px;
    height: 300px;
    overflow-y: scroll;
    scrollbar-color: $fushia;
    scrollbar-width: thin;
  }
  .list_checked {
    text-decoration: line-through;
    a {
      color: $black;
    }
  }
  .list_unchecked {
    text-decoration: none;
    a {
      color: $black;
    }
  }
  .edit_del-btn {
    display: flex;
    gap: 4px;
    position: absolute;
    bottom: 4px;
    left: 104px;
  }
}
.pos-show-form {
  position: relative;
  top: -85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .btn-new_user {
    width: fit-content;
    padding: 4px 16px;
  }
}
.pos-show-H5 {
  width: 262px;
  text-align: center;
  flex-direction: column;
  position: relative;
  top: -84px;
  background-color: #fffba3;
  padding: 12px;
  em {
    text-align: center;
    font-size: 0.8em;
  }
}
.task-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
