body {
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #008f8c, #93d4d3) !important;
  font-family: 'Roboto Bold', sans-serif;
}
.listpage {
  z-index: 1;
  height: 90vh;
  position: relative;

  .list_record {
    position: relative;
    top: -90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
  .subtitle {
    margin: auto;
    color: $verttitle;
    font-weight: 50;
    font-size: 24px;
    text-align: center;
  }
  .messages {
    margin: auto;
    color: $verttitle;
    font-weight: 50;
    font-size: 24px;
    text-align: center;
  }
  .ita-msg {
    color: $gray;
    font-family: roboto light;
    font-size: 0.9em;
  }
  .obj-list {
    z-index: 5;
    position: absolute;
    padding: 12px;
    background-color: #fffba3;
    gap: 4px;
    display: flex;
    flex-direction: column;
    height: 190px;
    width: 190px;
    left: 145px;
    top: 164px;
    transform: rotate(6deg);
    box-shadow: #0000008c 8px 4px 10px 0px;
  }
  .obj-flex {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  // .form-list{
  //   .btn-success{
  //     margin-top: 36px;
  //     width: 200px;
  //     height: 42px;
  //     font-size: 16px;
  //     font-weight: bold;
  //     color: #008f8c;
  //   }
  // }
  .scroller {
    width: 500px;
    height: 300px;
    overflow-y: scroll;
    scrollbar-color: $fushia;
    scrollbar-width: thin;
  }
// }

//   /* Medium devices */

// @media (max-width: 1400px) {
//   .listpage {
//     // flex-direction: column;
//     height: 100vh;
//   }
// }
// .far {
//   color: white
// }
}
