.local_page {
  z-index: 0;
  position: relative;
  #new_local {
    display: flex;
    justify-content: center;
    position: relative;
    top: -40px;
    left: -30px;
  }
  .local_box {
    position: relative;
    top: -90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
  .create-address-container {
    display: flex;
    justify-content:center;
    .input-create-address {
      width: 250px;
      background-color: #c1f2df;
      font-style: italic;
      font-size: 20px;
      opacity: 0.6;
    }
    .submit-create-map {
      background: none;
      border: none;
      font-weight: bold;
    }
  }
  .map_address {
    display: flex;
    justify-content:center;
  }
  .map-title {
    margin: auto;
    color: #27EB9D;
    font-weight: 50;
    font-size: 24px;
    text-align: center;
  }
  #address-select {
    position: relative;
    background-color: black;
    color: white;
    font-family: 'Roboto Condensed';
    font-size: large;
    top: 220px;
    // left: 9vw;
    border-radius: 6px;
    padding: 6px 8px;
    height: 34px;
    width: 306px;
    border: 0;
    z-index: 3;
  }
  #address-select2 {
    position: relative;
    background-color: black;
    color: white;
    font-family: 'Roboto Condensed';
    font-size: large;
    top: 220px;
    left: 40vw;
    border-radius: 6px;
    padding: 6px 8px;
    height: 34px;
    width: 306px;
    border: 0;
    z-index: 3;
  }
  form {
    left: 34px;
    position: relative;
    background: #28292d;
    padding: 8px;
    z-index: 2;
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    gap: 8px;
  }
}
