body {
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #008f8c, #93d4d3) !important;
  font-family: 'Roboto Bold', sans-serif;
}
.vocalpage {
  z-index: 0;
  height: 90vh;
  position: relative;

  .vocal_wrap {
    position: relative;
    top: -90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .vocal_record {
    z-index: 3;
    position: relative;
    top: -70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8em;
  }

  .sound_record {
    z-index: 3;
    position: relative;
    top: -70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8em;
  }

  .flexbox {
    display: flex;
    justify-content: space-evenly;
  }
  .messages {
    margin: auto;
    color: $verttitle;
    font-weight: 50;
    font-size: 24px;
    text-align: center;
  }
  .form-vocal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    margin: auto;
  }

  .scroller {
    width: 500px;
    height: 300px;
    overflow-y: scroll;
    scrollbar-color: $fushia;
    scrollbar-width: thin;
  }
}

.output p {
  color: #ffffff80;
  letter-spacing: 0.6em;
}
