body {
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #008f8c, #93d4d3) !important;
  font-family: 'Roboto Bold', sans-serif;
}
.vocalpage {
  z-index: 0;
  height: 90vh;
  position: relative;

  .vocal_wrap {
    position: relative;
    top: -90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .subtitle {
    margin: auto;
    color: $verttitle;
    font-weight: 50;
    font-size: 24px;
    text-align: center;
    font-family: roboto condensed;
  }

  .sound_record {
    position: relative;
    top: -76px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  .flexbox {
    display: flex;
    justify-content: space-evenly;
  }
  .messages {
    margin: auto;
    color: $verttitle;
    font-weight: 50;
    font-size: 24px;
    text-align: center;
  }
  .form-vocal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    margin: auto;
  }

  .scroller {
    width: 500px;
    height: 300px;
    overflow-y: scroll;
    scrollbar-color: $fushia;
    scrollbar-width: thin;
  }
}
//   /* Medium devices */
// @media (max-width: 1400px) {
//   .vocalpage {
//     width: 100vw;
//     height: 100vh;
//   }
// }
// .far {
//   color: white
// }
