body {
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #008f8c, #93d4d3) !important;
  font-family: 'Roboto Bold', sans-serif;
}
.vocalpage {
  position: relative;

  .sound_record {
    display: flex;
  }

  .rotate-title {
    position: absolute;
    top: -38px;
    left: 75px;
    transform: rotate(-15deg);
    color: $fushia;
    font-weight: 500;
    font-size: 40px;
    transform: rotate(-15deg);
  }

  .title {
    margin: auto;
    color: white;
    font-weight: bold;
    font-size: 38px;
    text-align: center;
  }

  .subtitle {
    margin: auto;
    color: $verttitle;
    font-weight: 50;
    font-size: 24px;
    text-align: center;
  }
  .flexbox {
    display: flex;
    justify-content: space-evenly;
  }
  .messages {
    margin: auto;
    color: $verttitle;
    font-weight: 50;
    font-size: 24px;
    text-align: center;
  }
  .form-vocal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    margin: auto;
    .btn-success{
      margin-top: 36px;
      width: 200px;
      height: 42px;
      font-size: 16px;
      font-weight: bold;
      color: #008f8c;
    }
  }

  .logos-container-vocals {
    display: flex;
    position: absolute;
    bottom: 70px;
    .vocals-logo {
      width: 190px;
      object-fit: cover;
    }
  }
  .scroller {
    width: 500px;
    height: 300px;
    overflow-y: scroll;
    scrollbar-color: $fushia;
    scrollbar-width: thin;
  }
}

  /* Medium devices */

@media (max-width: 1400px) {
  .vocalpage {
    // flex-direction: column;
    height: 100vh;
  }
}

  //   .logos-container {
  //   height: 50%;
  //   }
  // }
.far {
  color: white
}
