<div class="container">
  <%= simple_form_for nft  do |f| %>
  <%  %>
    <%= f.input :photo, as: :file, required: true  %>
    <span><%= f.button :submit, value:'Créer', class: "d-none submit-nft btn btn-new_user" %></span>
  <% end %>
</div>
<script>
const photoRequired = document.querySelector("#nft_photo");
const btnNftSubmit = document.querySelector(".submit-nft");

photoRequired.addEventListener('change', (event)=>{
  btnNftSubmit.classList.remove('d-none');
  photoRequired.reset();
})
</script>
