<div class="container">
  <h3>Details :</h3>
  <%= simple_form_for nft  do |f| %>

    <br>
    <!-- app/views/articles/_form.html.erb -->
    <%= f.input :photo %>

    <span><%= f.submit %></span>
      <% end %>
</div>
