<%# <% @nft.each do |nft| %>
<%# <select class="custom-select custom-select-lg mb-3">
  <option selected>Open this select menu</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
</select>
<% end %>
<%#
<select class="custom-select custom-select-sm">
  <option selected>Open this select menu</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
</select> %>
  <%# <a href="#">Edit <i class="fas fa-pencil-alt"></i></a>
  <a href="#">Delete <i class="far fa-trash-alt"></i></a> %>

<div class="container index-container">
  <br>
  <div class="flex-new-btn">
    <%# <%= link_to "Create an Nft", nfts_path, class: "btn btn-flat" %>
  </div>
  <br>
  <ul class="cards-index">
    <% @nfts.each do |nft|  %>

    <li>
      <%= link_to nft_path(nft) do %>
        <div class="card-trip">
          <%= image_tag nft.photo, width: "200px", height: "auto", class: "nft-photo" %>
        </div>
      <% end %>
    </li>
  <% end  %>
  </ul>
  <div class="container new-container">
  <h1>Ouvre your sprit</h1>

  <div id="form_nft">
    <%= render "form", nft: @nft %>
  </div>

</div>

</div>
