
<div class="nftpage">
  <%= render "shared/logo" %>
  <div class="nft_wrap">
    <h2 class="subtitle">Images</h2>


    <%= cl_image_tag @nft.photo.key, width: "200px", height: "auto", class: "nft-photo" %>

  <br>
  <%= link_to "Retour", nfts_path, class: "b-brainbud" %>
  <br>
  <%= link_to "Delete", nft_path(@nft), method: :delete, data: {confirm: "Are you sure ?"}, class: "b-brainbud" %>
</div>
<div class="container-share">
        <button class="share-btn">
            <i class="fas fa-share-alt"></i>
        </button>
        <div class="share-options">
            <div class="social-media">
                <%# <button class="social-media-btn"><i class="far fa-folder-open"></i></button> %>
                <a href="https://www.whatsapp.com/" target='_blank'> <button class="social-media-btn whatsapp-btn"><i class="fab fa-whatsapp" ></i></button></a>
                <a href="https://www.twitter.com/" target='_blank'><button class="social-media-btn twitter-btn"><i class="fab fa-twitter"></i></button></a>
                <a href="https://www.instagram.com/" target='_blank'><button class="social-media-btn instagram-btn"><i class="fab fa-instagram"></i></button></a>
                <a href="https://www.facebook.com/" target='_blank'><button class="social-media-btn fb-btn"><i class="fab fa-facebook-f"></i></button></a>
                <a href="https://www.linkedin.com/" target='_blank'><button class="social-media-btn lkd-btn"><i class="fab fa-linkedin-in"></i></button></a>
            </div>
        </div>
    </div>
    <script>
    const shareBtn = document.querySelector('.share-btn');
    const shareOptions = document.querySelector('.share-options');

    shareBtn.addEventListener('click', () => {
        shareOptions.classList.toggle('active');
    })
    </script>
