  <div class="micro-container">
    <div class="obj-micro">
      <button id="startTranscript" class="b-speechreco"><i class="fa-solid fa-bullhorn"></i> Parlez</button>
      <%= image_tag "bb_micro.png", class: "A" %>
    </div>
  </div>
