<div class="container">
  <%= simple_form_for [@list, @listelement] do |f| %>
    <%= f.label "Ajoutez une tâche :" %>
    <%= f.input :content, label: false %>
    <%= f.button :submit, 'Ajouter', class: 'btn btn-success' %>
  <% end %>
</div>
