<% @lists.each do |list| %>
  <div class="obj-list">
    <div class="obj-flex">
      <h5><%= "#{list.title}" %></h5>
    </div>
    <div class="obj-flex">
      <em class="ita-msg"><%= "(créé le #{list.created_at}) :" %></em>
      <br>
      <%= link_to "afficher", list_path(list), class: "btn btn-form" %>
        <%= link_to list_path(list), data: {turbo_method: :delete, turbo_confirm: "Are you sure ?"}, class:'btn btn-form' do %>
          <i class="fa-regular fa-trash-can"></i>
        <% end %>
    </div>
  </div>
<% end %>
