<div class="vocalpage">
  <%= render "shared/logo" %>
  <div class="vocal_wrap">
    <h2 class="subtitle">Créer un <strong>mémo vocal</strong></h2>
    <div class="micro-container">
      <div class="obj-micro">
        <button id="startTranscript" class="b-speechreco"><i class="fa-solid fa-bullhorn"></i> Parlez</button>
        <%= image_tag "bb_micro.png", class: "A" %>
      </div>
    </div>
    </div>

  <div class="sound_record">
    <p class="output">Votre dictée :</p>

    <button id="startRecordingButton" class="b-brainbud"><i class="fa-solid fa-wand-magic-sparkles"></i> Start</button>
    <button id="stopRecordingButton" class="b-brainbud"><i class="fa-solid fa-microphone-slash"></i> Stop</button>
    <button id="playButton" class="b-brainbud"><i class="fa-solid fa-headphones"></i> Play</button>
    <button id="downloadButton" class="b-brainbud"><i class="fa-solid fa-cloud-arrow-down"></i> Download</button>
  </div>
  <br>

  <div class="logos-container">
    <div class="logos">
      <%= image_tag "bb_loupe.png", class: "logos B" %>
    </div>
  </div>
</div>
