<div class="vocalpage">
  <h1 class="rotate-title"><strong>Brain</strong></h1>
  <h1 class="title">Buddy</h1>
  <h2 class="subtitle">Message Vocal</h2>
  <br>
  <div class="sound_record">
    <button id="startRecordingButton" class="btn btn-success">Start recording</button>
    <button id="stopRecordingButton" class="btn btn-success">Stop recording</button>
    <button id="playButton" class="btn btn-success">Play</button>
    <button id="downloadButton" class="btn btn-success">Download</button>
  </div>
  <div class="logos-container-vocals">
    <%= image_tag "bb_micro.png", class: "vocals-logo" %>
    <%= image_tag "bb_loupe.png", class: "vocals-logo" %>
  </div>
</div>
