.logos-container {
  width: 100vw;
  display: flex;
  position: absolute;
  bottom: 0;
  justify-content: center;
  .logos {
    display: flex;
    width: 375px;
    .A {
      position: relative;
      left: 0px;
      width: 50%;
    }
    .B {
      position: relative;
      right: 20px;
      width: 50%;
    }
  }
}
