.logo {
  position: relative;
}
.rotate-title {
  text-align: center;
  font-weight: bold;
  color: $fushia;
  position: relative;
  top: -60px;
  left: -34px;
  font-size: 50px;
  transform: rotate(-12deg)
}
.title {
  text-align: center;
  color: white;
  top: -92px;
  position: relative;
  font-size: 48px;
}
