.mapboxgl-popup {
  max-width: 200px;
}
.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
.mapbox-container {
  top: -48px;
  position: relative;
  display: flex;
  justify-content: center;
}
.map_style {
  width: 335px;
  height: 202px;
  border-radius: 8px;
  box-shadow: #0000007a 4px 4px 12px;
}
