.navbar-lewagon {
  justify-content: space-between;
  background: white;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.container-fluid {
  flex-direction: row-reverse;
}
.navbar-nav{
  .dropdown-menu {
    font-family: Roboto condensed;
    font-size: 1.2em;
    text-align: right;
    z-index: 1;
    position: absolute;
    padding: 0.4em 1em;
    border-radius: 6px;
    border: none;
    background: white;
    top: 1em;
    box-shadow: #00000042 3px 6px 18px 3px;  }
}
