// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  overflow-y: scroll; /* Add the ability to scroll */
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #008f8c, #93d4d3) !important;
  font-family: 'Roboto Bold', sans-serif;
  height: 100vh;
}
body::-webkit-scrollbar {
  display: none;
}
@media (max-width: 420px) {
  body {
    height: auto;
  }
}
